{% extends "base.html" %}

{% block extra_head %}

  <link rel="stylesheet" href="/static/css/jquery.autocomplete.css" type="text/css"/>
  <script type="text/javascript" src="/static/js/jquery.bgiframe.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="/static/js/jquery.form.js"></script>

  <script type="text/javascript" src="/static/js/Orbited.js"></script>
  <script type="text/javascript" src="/static/js/json2.js"></script>
  <script type="text/javascript" src="/static/js/stomp.js"></script>

        <script>
//        Orbited.settings.port = 9000;
        Orbited.settings.hostname = "192.168.0.2";
//        Orbited.settings.streaming = false;
        TCPSocket = Orbited.TCPSocket;
        </script>

        <script>
        $(document).ready(function(){
         $('#send_tweet_btn').click(function(){
                var text = $('textarea[name=text]');
                var data = 'text=' + text.val();
                $.post("/microblog/ajaxTweetSend",data);
                return false;
        });

//    var data = '/accounts/friends';
//    $("#new_tweet").autocomplete(data);

        // set up stomp client.
            stomp = new STOMPClient();
            stomp.onopen = function() {

            };
            stomp.onclose = function(code) {

            };
            stomp.onerror = function(error) {
                alert("onerror: " + error);
            };
            stomp.onerrorframe = function(frame) {
                alert("onerrorframe: " + frame.body);
            };
            stomp.onconnectedframe = function() {
                {% if request.user.is_authenticated %}
                stomp.subscribe('{{ request.user.username }}');
                {% endif %}
                {% for f in following_list %}
                stomp.subscribe('{{ f.username }}');
                {% endfor %}
            };
            stomp.onmessageframe = function(frame) {
            msg = JSON.parse(frame.body);
                add_message(msg);
//             $('#message_list').after( msg["user"] + ":" + msg["message"] + " at " + msg["time"] + "<br/>");
            };
			stomp.connect(Orbited.settings.hostname,61613);


         $('#new_tweet').keydown(function(event) {
          if (event.keyCode == '13') {
            var text = $('textarea[name=text]');
            var data = 'text=' + text.val();
            $.post("/microblog/ajaxTweetSend",data);
            $('#new_tweet').val('');
            $('#new_tweet').focus();
            return false;
            }
    });
});
{% load avatar_tags %}

        function add_message(msg){
          $("<li>" + msg["avatar"] +
          "<a href=''>" + msg["user"] + "</a><span>" + msg["message"] + " at " + msg["time"] + "</span></li>").prependTo("#sidebar-message");
          

        }

</script>


{% endblock %}


{% block content %}

{% if request.user.is_authenticated %}
{% load avatar_tags %}
<div id="avatar">
{% avatar user %}
<p><a href="{% url avatar_change %}">修改头像</a></p>
<p>{{ user.username }}</p>
<p>
<a href="{% url tweet_following user.username %}">Following :{{ following_list|length }}</a>
</p><p>
<a href="{% url tweet_followers user.username %}">Followers :{{ followers_list|length }}</a>
</p>
<p><a href="/accounts/edit">修改个人资料</a></p>
<p>{{ user.profile.birthday }}</p>
<p>{{ user.profile.livecity }}</p>
<p>More Info</p>
<p><a href="/accounts/editMore">修改More个人资料</a></p>
<p>{{ user.profile.get_more_profile.height }}</p>
</div>

{% endif %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block bread_crumbs_1 %}{% endblock %}
{% block objecttools %}{% endblock %}


{% if request.user.is_authenticated %}
<div id="send_tweets_form">
<form id="tweetForm" method="POST" action="">
<textarea rows="2" cols="200" name="text" id="new_tweet"></textarea>
<input id="send_tweet_btn" type="button" value="send"/>
</form>
</div>
{% endif %}


    <p>推荐好友</p>
	<div id="recommendation">
	<div id="recomm_friends">
{% load avatar_tags %}
{% for ruser in recomms %}
	<a href="{% url space ruser.id %}" alt="{{ ruser.username }}">{% avatar ruser %} </a>
{% endfor %}
</div>
	</div>


    <p>动态</p>
	<div id="task">
	<div id="task_list">
	<ul>
	{% for m in messages %}
	<li><a href="#">{{ m.user }} - {{ m.message }}</a></li>
	{% endfor %}
	</ul>
	</div>
	</div>



    <p>约会</p>
	<div id="party">
	<div id="party_list">
	<ul>
	{% for d in datings %}
	<li><a href="{% url dating_detail d.id %}">{{ d.id }}--{{ d.title }}</a></li>
	{% endfor %}
	</ul>
    </div></div>

    <p>投票</p>
    <div id="vote">
	<div id="vote_list">
	<ul>
	{% for p in votes %}
	<li>[{{ p.owner }}]<a href="{% url single_vote p.id %}">{{ p.question }}</a></li>
	{% endfor %}
	</ul>
    </div></div>

    {% endblock %}
    
    
{% block sidebar %}
<ul id="sidebar-message">
{% if request.user.is_authenticated %}
{% for t in tweets %}
<li>
{% avatar t.sender 20 %}
<a href="{% url space t.sender.id %}">{{ t.sender }}</a>
<span>{{ t.text }} at {{ t.sent|timesince }}</span>
</li>
{% endfor %}
{% endif %}
</ul>
{% endblock %}

