{% extends "base.html" %}

{% block extra_head %}

  <link rel="stylesheet" href="/static/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/static/js/jquery.bgiframe.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="/static/js/jquery.form.js"></script>
  
{% endblock %}

{% block content %}


	<div id="recommendation">
	<div id="recomm_title">推荐</div>

	<div id="recomm_friends">
{% load avatar_tags %}
<ul id="recomm_friend">
{% for ruser in recomms %}
	<li>
	<a href="{% url space ruser.id %}">{% avatar ruser %} </a>
	<p><a href="{% url space ruser.id %}">{{ ruser.username }}</a></p>
	</li>
{% endfor %}
</ul>

	</div>
	</div>



	<div id="task">
	<div id="task_bar">动态</div>
	<div id="task_list">
	<ul>
	{% for m in messages %}
	<li><a href="#">{{ m.user }} - {{ m.message }}</a></li>
	{% endfor %}
	</ul>
	</div>
	</div>




	<div id="party">
	<div id="party_bar">Dating</div>
	<div id="party_list">
	<ul>
	{% for d in datings %}
	<li><a href="{% url dating_detail d.id %}">{{ d.id }}--{{ d.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
	</div>



	

{% endblock %}