{% extends "base.html" %}

{% block content %}
    {% load avatar_tags %}
    <div id="avatar">
	{% avatar myself %}
	<p>{{ myself.username }}</p>
    <p><a href="/user/edit">修改个人资料</a></p>
	<p>{{ myself.livecity }}</p>
	<p>{{ userMoreInfo.body }}</p>
	<p>{{ userMoreInfo.country }}</p>
	<p>{{ userMoreInfo.national }}</p>
	</div>

	<div id="tag_cloud">
	<font color="#ab938n" style="font-size:9px;">software</font>
	<font color="#hd82bn"  style="font-size:18px;">HR</font>
	<font color="green"  style="font-size:12px;">internet</font>
	<font color="brown"  style="font-size:9px;">education</font>
	<font color="red" style="font-size:9px;">trade</font>
	<font color="black"  style="font-size:18px;">Designer</font>
	<font color="green"  style="font-size:12px;">Painter</font>
	<font color="brown"  style="font-size:9px;">outside</font>
	</div>


	<div id="recommendation">
	<div id="recomm_title">推荐</div>
	<div id="recomm_friends">
<ul id="recomm_friend">

{% for ruser in recomms %}
	<li>
	<a href="{{ ruser.get_absolute_url }}">{% avatar ruser %} </a>
	<p><a href="{{ ruser.get_absolute_url }}">{{ ruser.username }}</a></p>
	</li>
{% endfor %}
</ul>

	</div>
	</div>

	<div id="task">
	<div id="task_bar">动态</div>
	<div id="task_list">
	<ul>
	{% for m in messages %}
	<li><a href="#">{{ m.user }} - {{ m.message }}</a></li>
	{% endfor %}
	</ul>
	</div>
	</div>




	<div id="party">
	<div id="party_bar">Party</div>
	<div id="party_list">
	<ul>
	<li><a href="#">Julia want a dating with handsome boy.(end 2010-03-01)</a></li>
	<li><a href="#">Alex want a dating with pretty girl.(end 2010-03-01)</a></li>
	<li><a href="#">Obama want a dating with somebody.(end 2010-03-01)</a></li>
	</ul>
	</div>
	</div>



	<div id="messages">
	<div id="message_bar">Messages</div>
<div id="message_list">

<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>


<input type="text" name="msg" value="hey, how are you"/><br/>
<input type="button" value="submit"/>

</div>

	</div>

{% endblock %}