{% extends "base.html" %}

{% block content %}

{% block extra_body %}

{% endblock %}

<div id="reg_form">
{% block body %}
      
{% endblock %}
</div>

	<div id="messages">
	<div id="message_bar">Messages [{{ user.username }}]</div>
<div id="message_list">

<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>
<p><a href="#">hey, where are u from</a></p>


<input type="text" name="msg" value="hey, how are you"/><br/>
<input type="button" value="submit"/>

</div>

	</div>

{% endblock %}