{% extends "base.html" %}

{% block content %}
         
                <div id="message_form">
         <form method="POST" action="{% url message_send %}">
             <ul>

                 <input type="hidden" name="sender" value="{{ request.user.id }}"/>

                 {% if receiver %}
                 <input type="hidden" name="receiver" value="{{ receiver.id }}"/>
                 发给：<input type="text" value="{{ receiver.username }}" readonly="true"/>
                 {% else %}
                 发给：{{ form.receiver }}
                 {% endif %}                
                 <p>内容：{{ form.content }}</p>

             </ul>
               {% csrf_token %}
             <input type="submit" value="send message" />
         </form>
                                      </div>
                                      
             <div id="reg_form">
发件箱:
            <ul>
                {% for sm in send_messages.all %}
                <li>
                    <p><a href="{% url space sm.receiver.id %}">{{ sm.receiver }} </a>
                    {{ sm.content }} {{ sm.sendTime}}
                    	<a href="{% url message_send_to_someone sm.receiver.id %}">给他发短信</a></p>
                    </li>
                {% endfor %}
            </ul>

<br/>
收件箱:
            <ul>
                {% for rm in receive_messages.all %}
                <li>
                     <p><a href="{% url space rm.sender.id %}">{{ rm.sender }} </a>
                     {{ rm.content }} {{ rm.sendTime}}
                     	<a href="{% url message_send_to_someone rm.sender.id %}">回复</a></p>
                     </p></li>
                {% endfor %}
            </ul>


</div>
{% endblock%}